@font-face {
    font-family: Inter;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark: hsl(0, 0%, 12%);
    --Off: hsl(0, 0%, 8%);
    --Font-color: hsl(0, 0%, 100%);

    --h1: 22px;
    --h2: 12px;
    --parg: 12px;
    --Font-size: 14px;
}

body {
    background-color: var(--Off);
    font-size: var(--Font-size);
    color: var(--White);
    font-family: Inter, sans-serif;
}

.card {
    background-color: var(--Dark);
    width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 6rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    line-height: 1.8rem;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.name {
    font-size: var(--h1);
}

.location {
    font-size: var(--h2);
    color: var(--Green);
}

.job-description {
    font-size: var(--parg);
    font-weight: 100;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: block;
    padding: .35rem;
    background-color: var(--Grey);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.social-links li:hover {
    background-color: var(--Green);
}

.social-links li:hover > a {
    color: var(--Off);
}

.social-links li a {
    display: block;
    color: var(--White);
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
}