@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark: hsl(0, 0%, 12%);
    --Off: hsl(0, 0%, 8%);
    --Font-color: hsl(0, 0%, 100%);

    --fw-regular: 400;
    --fw-medium: 600;
    --fw-bold: 700;

    --h1: 24px;
    --h2: 14px;
    --parg: 14px;
    --Font-size: 13px;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--Off);
    font-size: var(--Font-size);
    color: var(--White);
    font-family: Inter, sans-serif;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark);
    width: 350px;
    height: 550px;
    margin-left: 0;
    padding: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    line-height: 2rem;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.name {
    font-size: var(--h1);
    font-weight: var(--fw-medium);
}

.location {
    font-size: var(--h2);
    color: var(--Green);
    margin-bottom: .8rem;
}

.job-description {
    font-size: var(--parg);
    font-weight: var(--fw-regular);
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social-links li {
    display: block;
    width: 280px;
    padding: .35rem;
    background-color: var(--Grey);
    border-radius: 5px;
    margin-top: 15px;
}

.social-links li:hover {
    background-color: var(--Green);
}

.social-links li:hover > a {
    color: var(--Off);
}

.social-links li a {
    display: block;
    color: var(--White);
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-weight: var(--fw-bold);
}